#index {
	background-color: #212121;
	color:white;
	text-align: right;
	padding: 10px;
}
#content {
	padding: 10px;
	text-align: right;
	font-size: 20px;
}
#content-2 {
	padding: 10px;
	text-align: left;
	font-size: 20px;
}
#header {
	padding: 10px;
}
#footer {
	background-color: #212121;
    padding: 10px;
}
#bible-content {
	font-size: x-large;
}
#non-bible-content {
	font-size: medium;
}
#plain-content {
	text-align: center;
	font-size: x-large;
}
a.ww:hover, a.ww:link, a.ww:active, a.ww:visited {
	text-decoration: none;
	color: black;
}
.navbar {
    margin-bottom: 0;
    border-radius:0px;
}
table thead th {
	text-align: center;
	font-size: medium;
}
.reference, .countbybook {
	font-size: medium;
}
.vcword {
	font-size: x-large;
}
.responsive {
    width: 100%;
    height: auto;
}
.v {
	background-color: pink;
}