#index {
	padding: 10px;
	background-color: #212121;
	color:white;
	text-align: center;
}
#content {
	padding: 10px;
	text-align: center;
	font-size:large;
}
#header {
	padding: 10px;
	font-family: 'Eagle Lake', cursive;
}
#footer {
	background-color: #212121;
    padding: 10px;
}
#bible-content {
	font-size: x-large;
}
.navbar {
    margin-bottom: 0;
    border-radius:0px;
}
#w {
	font-size: xx-large;
	background-color: yellow;
}
#xlit {
	font-size: xx-large;
	background-color: magenta;
}
#pos {
	font-size: xx-large;
	background-color: lightgreen;
}
#sw {
	font-size: x-large;
	text-decoration: underline;
}
#dt {
	font-size: xx-large;
	background-color: lightblue;
}
#iid {
	font-size: x-large;
	background-color: orange;
}
#bdb {
	font-size: x-large;
	background-color: orange;
}
#strong {
	font-size: x-large;
	background-color: orange;
}