.n-pr-m {
	background-color: #DCDCDC;
}
.n-pr-f {
	background-color: #DCDCDC;
}
.n-pr {
	background-color: #DCDCDC;
}
.n-m-loc {
	background-color: #620dd0;
}
.n-pr-loc {
	background-color: #620dd0;
}
.n {
	background-color: yellow;
}
.n-f {
	background-color: yellow;
}
.n-m {
	background-color: yellow;
}
.v {
	background-color: pink;
}
.a {
	background-color: #FFBF00;
}
.a-f {
	background-color: #FFBF00;
}
.a-m {
	background-color: #FFBF00;
}
.a-gent {
	background-color: #FFBF00;
}
.adv {
	background-color: magenta;
}
.p {
	background-color: lightblue;
}
.other {
	background-color: lightgreen;
}
.pre {
	background-color: lightblue;
}
.suf {
	background-color: lightblue;
}